.card{
    box-shadow: 3px 3px 3px rgba(90, 76, 76, 0.9), -3px -3px 3px rgba(90, 76, 76, 0.9), 
                3px -3px 3px rgba(90, 76, 76, 0.9), -3px 3px 3px rgba(90, 76, 76, 0.9) ;
}
.card img{
    width: 100%;
    height: 200px;
   
}

