.card{
    background: white;
    padding: 90px;
    border-radius: 5px;
    box-shadow: 0 5px 5px white;
    display: inline-block;
    top:50px
}



.card-image{
    border-radius: 100px;
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    margin: 0 auto;
}
.card img{
    width: 188px;
    
}
strong{
    margin-left: 35px;
}
h5{
   margin-top: 20px;
   margin-left: 40px;
   color: green;
}
h5 b{
    color: blue;
}

h1{
    color: crimson;
}