
<div class="text-center">
    <div class="card">

        <div class="card-image">
            <img src="https://img.freepik.com/free-vector/green-double-circle-check-mark_78370-1749.jpg" class="img-fluid" alt="">
        </div>
        <h1><b>{{username | titlecase}}</b></h1>
        <h2> your Order has placed Successfully</h2>
        <strong>ThankYou for Shopping with popular E-commerce</strong>
        <h5>Kindly Pay Amount <b>{{grandTotal | currency:'INR'}}</b> on delivering</h5>
    
</div>
</div>
