.dropdown:hover .dropdown-menu{
    display: block;
    background-color: rgb(238, 241, 243);
    color: black;
    width: 400px;
}

.dropdown-menu img{
    width: 50%;
    height: 100px;
}

.navbar{
    background-color: rgb(240, 216, 197);
    
}

.container-fluid{
    color: black;
}

a{
    list-style: none;
    color: black;
}

a i{
    font-size: 25px;
    color: black;
}
