<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <h2><a class="navbar-brand text-uppercase fw-bold" href="#">Harish Shopping Point</a></h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link text-white" aria-current="page" routerLinkActive="active" routerLink="/cart1"  *ngIf="cartItems">
               <i class=" bi bi-bag-fill"></i> 
              <span class="position-absolute mt-1 ms-2 translate-middle badge rounded-pill bg-danger text-white" >{{cartItems}}</span>
            </a>
            <ul class="dropdown-menu ">
              <!-- cart with items -->
              <div class="row ms-1" *ngIf="cartItems" >
                <div class="col-8">
                  <strong>Your cart item</strong>
                </div>
                <div class="col-4">
                  <strong>Price</strong>
                </div>
                <!-- data looping through ngFor -->
                <div class="row mt-3" *ngFor="let dropdownItem of dropDownItems" >
                  <div class="col-8">
                    <img [src]="dropdownItem?.image" alt="">
                  </div>
                  <div class="col-4 text-center">
                    <b >{{dropdownItem?.price | currency:'INR'}}</b>
                  </div>
                </div>
              </div>

              <!-- cart without items -->

               <div class="col text-center" *ngIf="!cartItems" >
                <b class="text-danger">your cart is empty. please add the items to cart</b>
               </div>

            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <div class=" fw-bold pt-2 mx-2"> {{username?.name | uppercase}}</div>
          <button class="btn btn-outline-success"  (click)="logOut()">LogOut</button>
        </form>
      </div>
    </div>
</nav>














