img{
    height: 100px;
    width: 100px;
}

.card{
    position: absolute;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px black , -2px 2px 2px black, -2px -2px 2px black, 2px -2px 2px black;
}

th{
    padding-top: 5px;
    padding-bottom: 5px;
}

td{
  
    align-items: center;
    justify-content: center;
}

.cart-items{
    background-color: rgb(112, 97, 94);
}