<div class="container-fluid w-50   ">
    <div class="login-box ">
        <h2 class=" text-center pt-3">LogIn here to get access</h2><br>
        <div class="d-flex justify-content-center pb-2">

            <form class="w-50" [formGroup]="loginForm" (ngSubmit)="logIn()">
                <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input type="email" formControlName="email" class="form-control">
                    <p class="text-danger" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched ">
                            Email Required
                    </p>
                    <!-- <p class="text-danger"  *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched" >Please enter Email</p> -->
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control">
                    <p class="text-danger" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched ">
                        Password Required
                </p>
                </div>
                <div class="mb-3">
                    <p>If don't have account ? click here to <a routerLink="/sign-up">SignUp</a></p>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-3">
        <p><b class="text-success">Note : 1</b> If Not signup Before going to login please watch the json-server by using
            the command
            <b>json-server --watch db.json</b>
        </p>

        <p><b class="text-success">Note : 2</b> Enter the Email <b>harish1@gmail.com</b> and Pasword <b>12345</b> into
            input
            fields <b>then click LogIn Button</b></p>
    </div>

</div>