<app-dashboard *ngIf="showdashboard"></app-dashboard>
<app-home *ngIf="showhome"></app-home>

<app-category-list></app-category-list>

<div class="row mx-3">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-3 " *ngFor="let product of productByCategory">
        <div class="card h-100">
            <div>
                <img [src]="product.image" alt="">
            </div>
            <div class="card-body">
                <div class="card-title"><b><a routerLink="/view-details/{{product.id}}">{{product.title}}</a></b></div>
                <h3><b>Category:</b>{{product.category}}</h3>
                <p><b>Price:</b>{{product.price | currency:'INR'}}</p>
                <p><b>Rating:</b> {{product.rating.rate}}</p>
                <p><b>Stock:</b> {{product.rating.count}}</p>
            </div>
            <!-- <div class="card-footer d-flex justify-content-evenly align-content-between px-1">
                <button class="btn btn-primary btn-sm " (click)="addToCart(product)" *ngIf="false">Add To Cart</button>
                <button class="btn btn-warning btn-sm mx-1 " [routerLink]="['/view-details', product.id]">View Details</button>
                
            </div> -->
        </div>
    </div>
</div>
